body{
	margin:0px;
	background-color: black
}

#fond {
  z-index: 1;
  transform: translate(-50%, -50%);
  top: 50%; left: 50%;
  position: absolute;
}

#bulle
 {
  position: absolute;
  z-index: 2;
  margin-top: -170px;
  margin-left: 10px;
}

#bChoix
 {
  position: absolute;
  z-index: 2;
  margin-top: -280px;
  margin-left: 10px;
}

#texte {
	z-index:3;
	color: white;
	font-size: 32px;
	font-family: Verdana;
	position: absolute;
	margin-top: -139px;
	margin-left: 24px;
	margin-right: 24px;
	word-break: break-word;
}

#texte2 {
	z-index:3;
	color: white;
	font-size: 32px;
	font-family: Verdana;
	position: absolute;
	margin-top: -95px;
	margin-left: 24px;
	margin-right: 24px;
	word-break: break-word;
}

/*point and click*/

#cliquables{
	z-index: 4;
}

/*pac1*/

#pac1o1{
  width: 50px;
  border: 15px solid green;
  height: 50px;
  position: absolute;
  top: 500px;
  left: 300px;
}